<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Text Search{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left" style="display:flex; align-items:center; gap:5px;">
            <h1 style="margin:0;">Elasticsearch</h1>
            <img src="{{ url_for('static', filename='sans.png') }}" alt="Sans" class="char-icon">
            <img src="{{ url_for('static', filename='papyrus.png') }}" alt="Papyrus" class="char-icon">
            <img src="{{ url_for('static', filename='alphys.png') }}" alt="Alphys" class="char-icon">
            <img src="{{ url_for('static', filename='undyne.png') }}" alt="Undyne" class="char-icon">
            <img src="{{ url_for('static', filename='mettatonreal.png') }}" alt="Mettaton" class="char-icon">
        </div>
        <div class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('match_all') }}">All Docs</a>
            <a href="{{ url_for('match') }}">Match</a>
            <a href="{{ url_for('multi') }}">Multi</a>
            <a href="{{ url_for('phrase') }}">Phrase</a>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
