<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Text Search{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <h1>Elasticsearch</h1>
        <div class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('match_all') }}">All Docs</a>
            <a href="{{ url_for('match') }}">Match</a>
            <a href="{{ url_for('multi') }}">Multi</a>
            <a href="{{ url_for('phrase') }}">Phrase</a>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
